#App{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: max-content;
    background-color: aliceblue;
}