form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 2%;
    margin-left: 2px;
    background-color: blueviolet;
}

li>*{
    width: max-content;
    display: flex;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}